*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #283136;
  background-color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover, a:focus {
  color: #fb565a;
}
a:active {
  color: rgba(0, 0, 0, 0.5);
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.icon {
  position: relative;
  top: 0.125em;
  flex-shrink: 0;
  transition: fill 0.3s;
  fill: currentColor;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.title,
.subtitle,
.title--small {
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.title {
  font-size: 55px;
}

.subtitle {
  font-size: 45px;
}

.title--small {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 500;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
.button:hover {
  background-color: #e74246;
}
.button:active, .button:focus {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.5);
}

.button--green {
  background-color: #00ca74;
}
.button--green:hover {
  background-color: #00bc6c;
}
.button--green:active, .button--green:focus {
  background-color: #00aa62;
}

.button--yellow {
  background-color: #efc84a;
}
.button--yellow:hover {
  background-color: #eab534;
}
.button--yellow:active, .button--yellow:focus {
  background-color: #e5a722;
}

.button--grey {
  color: #000000;
  background-color: #eeeeee;
}
.button--grey:hover {
  background-color: #dfdfdf;
}
.button--grey:active, .button--grey:focus {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.5);
}

.page-header {
  padding: 49px 0 18px;
  background: #eeeeee;
  z-index: 50;
}
.page-header__logo:hover, .page-header__logo:focus {
  opacity: 0.8;
}
.page-header__logo:active {
  opacity: 0.3;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.site-list,
.user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0 0;
  padding: 0;
  list-style: none;
}
.site-list__item, .site-list__item,
.user-list__item,
.user-list__item {
  margin-right: 46px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
}
.site-list__item:last-child, .site-list__item:last-child,
.user-list__item:last-child,
.user-list__item:last-child {
  margin-right: 0;
}
.site-list__item a:not([href]), .site-list__item.active, .site-list__item a:not([href]), .site-list__item.active,
.user-list__item a:not([href]),
.user-list__item.active,
.user-list__item a:not([href]),
.user-list__item.active {
  padding-bottom: 12px;
  border-bottom: 2px solid #fb565a;
}

.site-list {
  max-width: 50%;
  margin-left: 202px;
  margin-right: auto;
}

.user-list {
  max-width: 22%;
}
.user-list__item .icon {
  margin-right: 26px;
  fill: #a6a6aa;
}

.banner {
  background: #eeeeee;
}

.slider {
  position: relative;
}
.slider__list {
  display: flex;
  padding: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  list-style: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.slider__list::-webkit-scrollbar {
  display: none;
}
.slider__item {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 100px;
  padding: 52px 0 80px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  scroll-snap-align: start;
}
.slider__item:nth-child(3n+1) {
  background-image: url(../img/slider/slide1.png);
  background-position-x: 91%;
}
.slider__item:nth-child(3n+2) {
  background-image: url(../img/slider/slide2.png);
}
.slider__item:nth-child(3n) {
  background-image: url(../img/slider/slide3.png);
}
.slider__slogan {
  max-width: 515px;
  margin-bottom: 28px;
}
.slider__description {
  max-width: 410px;
  margin: 0 0 40px;
}
.slider__button {
  width: 240px;
}
.slider__toggles {
  position: absolute;
  right: 0;
  bottom: 96px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.slider__toggle:focus + .slider__label::before {
  background-color: #fb565a;
}
.slider__toggle:checked + .slider__label::before {
  box-shadow: inset 0 0 0 5px #ffffff, inset 0 0 0 7px #c1c1c1;
}
.slider__label {
  display: flex;
}
.slider__label::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.services {
  padding: 80px 0 20px;
  border-bottom: 2px solid #eeeeee;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.services__item {
  display: flex;
  flex: 1 0 300px;
  flex-direction: column;
  max-width: 50%;
  margin-right: 130px;
  margin-bottom: 60px;
}
.services__item:nth-child(3n) {
  margin-right: 0;
}
.services__item:last-child {
  margin-right: 0;
}
.services__item--website .services__pic {
  background-color: #fb565a;
}
.services__item--iphones .services__pic {
  background-color: #00ca74;
}
.services__item--presentation .services__pic {
  background-color: #efc84a;
}
.services__item .button {
  width: 160px;
  margin-top: auto;
}
.services__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 146px;
  margin: 0;
}
.services__name {
  margin: 25px 0 15px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: #000000;
  text-transform: uppercase;
}
.services__description {
  margin: 0 0 33px;
  color: #283136;
}
.services__button {
  width: 160px;
  height: 50px;
}

.studio {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 49px;
  border-bottom: 2px solid #eeeeee;
}
.studio__about {
  width: 650px;
  padding-top: 33px;
}
.studio__text {
  margin: 34px 0 39px;
}
.studio__subtitle {
  font-weight: bold;
  text-transform: uppercase;
}
.studio__list {
  margin: 24px 0;
  padding: 0;
  list-style: none;
}
.studio__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.studio__list-item::before {
  content: "";
  width: 25px;
  height: 2px;
  margin-right: 10px;
  background-color: #fb565a;
}
.studio__stats .studio__subtitle {
  display: block;
  margin: 29px 0 28px;
  text-align: center;
}
.studio__stats {
  width: 360px;
}
.studio__stats table {
  width: 100%;
}
.studio__stats-head {
  display: table-footer-group;
}
.studio__stats-head th {
  width: 33%;
  padding: 5px 0;
  font-weight: normal;
  line-height: 1.13;
  text-align: left;
  color: #283136;
}
.studio__stats-vals {
  font-weight: bold;
  font-size: 45px;
}
.studio__stats-vals sup {
  top: -0.49em;
  font-size: 0.6em;
}

.partners {
  padding: 50px 0 5px;
  margin-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.partners__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 22%;
  margin-bottom: 30px;
}
.partners__item::after {
  content: "";
  position: absolute;
  right: -10%;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}
.partners__item:nth-of-type(4n)::after, .partners__item:last-child::after {
  content: none;
}
.partners__item a {
  opacity: 0.2;
}
.partners__item a:hover, .partners__item a:focus {
  opacity: 1;
}
.partners__item a:active {
  opacity: 0.1;
}

.contacts {
  position: relative;
}
.contacts__map {
  width: 100%;
  height: 415px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts__card {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  width: 320px;
  padding: 55px 50px 46px;
  font-style: normal;
  background-color: #ffffff;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.contacts__name {
  margin-bottom: 28px;
}
.contacts__card-text {
  margin: 0 0 18px;
  line-height: 1.13;
  color: #666666;
}
.contacts__card-text a[href]:not(.button) {
  color: #666666;
}
.contacts__button {
  margin-top: 21px;
  width: 100%;
}
.contacts__map {
  width: 100%;
  object-fit: cover;
}

.catalog__title {
  display: block;
  width: 100%;
  margin: 0 0 54px;
  padding: 53px 300px 110px;
  text-align: center;
  background-color: #eeeeee;
}
.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.catalog__filters {
  width: 260px;
  margin-right: 140px;
}
.catalog__filters .button {
  width: 100%;
}
.catalog__main {
  width: 760px;
}
.catalog__sorts {
  width: 100%;
  margin: 4px 0 50px;
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination {
  margin: 26px auto 61px;
}
.pagination, .pagination__pages {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.pagination li, .pagination__pages li {
  margin-right: 11px;
}
.pagination .button {
  min-height: 50px;
}
.pagination__pages {
  counter-reset: page;
  margin: 0;
}
.pagination__page {
  font-size: 0;
}
.pagination__page:not([href]) {
  background-color: #fff;
  box-shadow: inset 0px 0px 0 3px #eeeeee;
  cursor: unset;
}
.pagination__page::before {
  font-size: 16px;
  counter-increment: page;
  content: counter(page);
}
.pagination__prev .button, .pagination__next .button {
  width: 260px;
}

.filter {
  border: none;
  margin: 0 0 52px;
  padding: 0;
}
.filter__title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.18px;
  margin-bottom: 12px;
}
.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter__label {
  margin-bottom: 12px;
  display: flex;
  cursor: pointer;
  align-items: center;
  line-height: 1;
}
.filter__label::before {
  margin-right: 10px;
  opacity: 0.4;
}
.filter__label--checkbox {
  margin-bottom: 15px;
}
.filter__label--checkbox::before {
  width: 27px;
  content: url("../img/check-off.svg");
}
.filter__label--radio::before {
  content: url("../img/radio-off.svg");
}
.filter__label:hover::before {
  opacity: 1;
}
.filter__choice:checked + .filter__label--checkbox::before {
  content: url("../img/check-on.svg");
}
.filter__choice:checked + .filter__label--radio::before {
  content: url("../img/radio-on.svg");
}
.filter__choice:disabled + .filter__label {
  cursor: auto;
  opacity: 0.3;
}
.filter__choice:disabled + .filter__label::before {
  opacity: 0.1;
}
.filter__choice:focus + .filter__label {
  outline: 2px solid #fb565a;
  outline-offset: 5px;
}
.filter__sort {
  display: flex;
}
.filter--cost .filter__title {
  margin-bottom: 48px;
}
.filter--grid {
  margin-bottom: 30px;
}
.filter--feature {
  margin-bottom: 35px;
}

.sort {
  display: flex;
  align-items: flex-start;
}
.sort__title {
  margin: 0;
}
.sort__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sort__list--type {
  margin-left: auto;
  margin-right: 48px;
  min-width: 35.8%;
}
.sort__list--order {
  min-width: 5.3%;
}
.sort .sort__label {
  font-size: 14px;
  line-height: 1.29;
}
.sort__choice:checked + .sort__label {
  color: #000000;
}
.sort__choice:focus + .sort__label {
  outline: 2px solid #fb565a;
  outline-offset: 4px;
}
.sort__label {
  color: rgba(0, 0, 0, 0.3);
}
.sort__label:hover, .sort__label:focus {
  color: rgba(0, 0, 0, 0.6);
}
.sort__label--up svg {
  transform: rotate(180deg);
}

.template {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 0 0 33px;
}
.template::before {
  content: url(../img/browser-buttons.svg);
  height: 40px;
  padding-left: 18px;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 5px 5px 0 0;
}
.template:hover, .template:focus {
  box-shadow: 0px 6px 15px 0 rgba(0, 1, 1, 0.25);
  outline: none;
}
.template:hover::before, .template:focus::before {
  background-color: #4D4D4D;
}
.template:hover .template__info, .template:focus .template__info {
  opacity: 1;
}
.template__info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 34px 80px 48px;
  background-color: #eeeeee;
}
.template__title {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.template__desc {
  line-height: 1.13;
  text-align: center;
  color: #666666;
}
.template .button {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 31px auto 0;
}

.price__range {
  background-color: #eeeeee;
  padding: 29px 19px 27px;
  border-radius: 5px;
  margin-bottom: 13px;
}
.price__thumb {
  cursor: move;
}
.price__labels {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price__label {
  text-transform: uppercase;
}
.price__number {
  background-color: #eeeeee;
  border-radius: 5px;
  width: 80px;
  height: 38px;
  margin-left: 10px;
  text-align: center;
  border: none;
}

.page-footer {
  display: flex;
  margin: 69px auto 59px;
  align-content: center;
}
.page-footer__socials {
  margin-right: 130px;
}

.socials {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}
.socials__link {
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 10px;
}
.socials__icon {
  fill: currentColor;
}

.discount {
  color: #444444;
  margin: 5px 0;
}
.discount__slogan {
  font-weight: bold;
  color: #000;
  line-height: 1;
  font-size: 36px;
  display: block;
  margin-bottom: 12px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(-30px);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.contact-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 960px;
  padding: 72px 100px 80px;
}
.contact-us__title {
  margin: 0 0 50px;
}
.contact-us__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-us__wrapper {
  width: 360px;
  margin: 0 0 36px;
}
.contact-us__wrapper:last-of-type {
  width: 100%;
  margin-bottom: 48px;
}
.contact-us__wrapper:last-of-type textarea {
  resize: none;
  height: 118px;
}
.contact-us__label {
  display: block;
  font-weight: bold;
  line-height: 1.13;
  margin-bottom: 12px;
}
.contact-us__input {
  width: 100%;
  box-sizing: border-box;
  min-height: 50px;
  padding: 14px 16px;
  border-radius: 3px;
  border: 2px solid #d7dcde;
  background-color: #ffffff;
}
.contact-us__input:hover {
  border-color: #b4b9bb;
}
.contact-us__input:focus {
  border-color: #000000;
  outline: none;
}
.contact-us__input:invalid {
  color: #e74246;
  border-color: #e74246;
}
.contact-us__submit {
  width: 260px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 6vh auto auto;
  background: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  display: none;
}
.modal--show, .modal:target {
  display: flex;
  animation: bounce 0.6s;
}
.modal--error {
  animation: shake 0.6s;
}
.modal__close {
  margin-bottom: 50px;
  color: #fb565a;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}
.modal__close:hover {
  opacity: 1;
}
.modal__close:active {
  color: #fb565a;
  opacity: 0.3;
}