section.contacts#contacts
  h2.visually-hidden Наш адрес
  #map.contacts__map
  .container
    address.contacts__card
      b.contacts__name.title--small Nёrds design studio
      p.contacts__card-text 191186, Санкт-Петербург, <br>
        | ул. Б. Конюшенная, д. 19/8
      p.contacts__card-text= "тел. "
        a.contacts__phone(href="tel:+78122757575") +7 (812) 275-75-75

      a(href="#contact-us").contacts__button.button Напишите нам
