footer.page-footer.container

  h2.visually-hidden Мы с социальных сетях
  ul.page-footer__socials.socials
    li.socials__item
      a(href="#").socials__link.button
        svg(role="img", focusable="false", aria-labelledby="icon-vk__title", width="26", height="15").socials__icon
          title#icon-vk__title Мы во «Вконтакте»
          use(xlink:href="#icon-vk")
    li.socials__item
      a(href="#").socials__link.button
        svg(role="img", focusable="false", aria-labelledby="icon-fb__title", width="12", height="22").socials__icon
          title#icon-fb__title Мы во Facebook
          use(xlink:href="#icon-fb")
    li.socials__item
      a(href="#").socials__link.button
        svg(role="img", focusable="false", aria-labelledby="icon-insta__title", width="21", height="21").socials__icon
          title#icon-insta__title Мы в Instagram
          use(xlink:href="#icon-insta")


  p.page-footer__discount.discount
    strong.discount__slogan Давайте дружить, это выгодно!
    |  Скидка 10% для друзей из социальных сетей.
