section.partners.container#clients
  h2.visually-hidden Наши партнёры
  ul.partners__list
    -var path = "img/partners/"
    li.partners__item
      a(href="https://htmlacademy.ru/intensive/htmlcss" target="_blank")
        img(src=path+"htmlacademy.svg", alt="Логотип HTML Academy", width="199", height="68")
    li.partners__item
      a
        img(src=path+"borodinski.svg", alt="Логотип Барбершопа «Бородинский»", width="209", height="90")
    li.partners__item
      a(href="http://anna-v.github.io/pink/" target="_blank")
        img(src=path+"pink.svg", alt="Логотип Pink", width="185", height="52")
    li.partners__item
      a(href="https://leerane.github.io/mishka/" target="_blank")
        img(src=path+"mishka.svg", alt="Логотип Mishka", width="173", height="84")
