section.studio.container#studio
  h2.visually-hidden О нас
  .studio__about
    strong.subtitle Мы — маленькая, но гордая дизайн-студия из Краснодара.

    p.studio__text Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работаем не покладая рук, как роботы.

    strong.studio__subtitle Выполняем заказы на разработку:

    ul.studio__list
      li.studio__list-item Веб-сайтов любой сложности
      li.studio__list-item Мобильных приложений для iOS и Android
      li.studio__list-item Слайдшоу и видео для корпоративных презентаций


  table.studio__stats

    caption

      include colors.svg

      strong.studio__subtitle с 2004 года Любим точность во всем:


    thead.studio__stats-head
      tr
        th(scope="col") Уровень самоотдачи
        th(scope="col") Соблюдение сроков
        th(scope="col") Минимальная предоплата
    tbody
      tr.studio__stats-vals
        td 146
          sup %
        td 100
          sup %
        td 50
            sup %
