extends layout/page


block variables
  - var title =  "Веб-студия «Нёрдс»";
  - var currentPage = "index";

block content
  include ./includes/banner.pug
  include ./includes/services.pug
  include ./includes/studio.pug
  include ./includes/partners.pug
